<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="tv.acfun.read"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".bases.application.AcFunRead"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AcFunRead">

        <activity
            android:name=".bases.activities.ChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".bases.activities.ContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".bases.activities.ContributionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".bases.activities.ComicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".bases.activities.CommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".bases.activities.FavouriteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".bases.activities.HistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".bases.activities.MailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".bases.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".bases.activities.ProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".bases.activities.QuoteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".bases.activities.ReplyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".bases.activities.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".bases.activities.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="{{UMENG_APPKEY}}"/>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="{{UMENG_CHANNEL}}"/>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

    </application>

</manifest>
